<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-attr-dir-comp></app-attr-dir-comp>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1>Custom Attribute Directive</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" Sizer>

        </div>
    </div>
    <div class="row">
        <div *myIf="isShown">
            Sugered custom structural directive!! :)
        </div>
        <input type="button" value="myIf toggle" (click)="isShown = !isShown" class="btn btn-primary">
    </div>
</div>