<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Data binding</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Interpolation</h5>
        </div>
        <div class="col-md-6">
            <h5>my name is {{myName}}</h5>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-property-binding></app-property-binding>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-event-binding></app-event-binding>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-two-way-binding></app-two-way-binding>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-custom-input [borderColor]="'solid 1px red'"></app-custom-input>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <app-custom-output (customClick)="onReceivedEvent($event)"></app-custom-output>
    </div>
</div>