<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h5>Event binding</h5>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <input type="text" [value]="inputData" [style.width]="inputWidth"> {{inputData}}
        </div>
        <div class="col-md-4">
            <input type="button" value="OK" (click)="enlargeOrReduce()" class="btn btn-primary">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p [class.myBorder]="isBordered">This is my workplace</p>
        </div>
        <div class="col-md-4">
            <input type="button" value="OK" (click)="isBordered=!isBordered" class="btn btn-primary">
        </div>
    </div>
</div>